{% extends 'base.html' %}
{% block title %} 共同調節學習分析儀表板 {% endblock title %}
{% load static %}

{% block header %}

{% block content %}
<div class='tableauPlaceholder' id='viz1692549781077' style='position: relative; overflow: auto; margin-left: 300px;margin-top: 50px;'><noscript>
    <a href='#'><img alt='共同調節學習儀表板 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;_1&#47;_16925497612540&#47;sheet4&#47;1_rss.png' style='border: none' /></a>
</noscript><object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
    <param name='name' value='_16925497612540&#47;sheet4' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;_1&#47;_16925497612540&#47;sheet4&#47;1.png' /> <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='zh-TW' />
    <param name='filter' value='publish=yes' />
>
</div>                

<script type='text/javascript'>                    
    var divElement = document.getElementById('viz1692549781077');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) 
    { vizElement.style.width='90%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='90%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
    else { vizElement.style.width='90%';vizElement.style.height=(window.innerHeight*0.75)+'px';}                     
    var scriptElement = document.createElement('script');                    
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                     
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>
{% endblock content %}
{% endblock %}
